<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="stylesheets/css/font-face.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="stylesheets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="stylesheets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="stylesheets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="stylesheets/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="/">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/addRecord">
                                <i class="fas fa-plus"></i>Add Record</a>
                        </li>
                        <li>
                            <a href="/viewRecord">
                                <i class="fas fa-eye"></i>View Record</a>
                        </li>
                        <li>
                            <a href="/deleteRecord">
                                <i class="fas fa-trash"></i>Delete Record</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP END-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <button type="button" class="btn btn-outline-success btn-lg active"><a href="/addRecord">Add Record</a></button>
                <button type="button" class="btn btn-outline-success btn-lg active"><a href="/viewRecord">View Record</a></button>
                <button type="button" class="btn btn-outline-success btn-lg active"><a href="/deleteRecord">Delete Record</a></button>
            </div>
            <div class="col-lg-15">
                                <div class="au-card m-b-30">
                                    <div class="au-card-inner">
                                        <h3 class="title-2 m-b-40">Profit Earned</h3>
                                        <canvas id="singelBarChart"></canvas>
                                    </div>
                                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="stylesheets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="stylesheets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="stylesheets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="stylesheets/vendor/slick/slick.min.js">
    </script>
    <script src="stylesheets/vendor/wow/wow.min.js"></script>
    <script src="stylesheets/vendor/animsition/animsition.min.js"></script>
    <script src="stylesheets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="stylesheets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="stylesheets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="stylesheets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="stylesheets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="stylesheets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="stylesheets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="javascripts/js/main.js"></script>

</body>

</html>
<!-- end document-->
